.basic-form{
  width: 750px;
  margin: 30px auto;
  padding: 30px;
  border: 1px dashed #cdcdcd;
}

.input-form{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input{
  height: 30px;
  margin: 10px;
}
.submit{
  height: 38px;
}
.courselist .course {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #cdcdcd;
  padding: 10px;
  margin: 10px;
}
.delete{
  color: red;
  padding: 10px;
  cursor: pointer;
}